.pageHeader {
    width: 100%;
    flex-shrink: 0;
    z-index: 10;
    position: absolute;
    top: 0px;
    font-family: "Inter Light";
    padding: 30px 0px 0px;
    background: none;

    &-container {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        max-width: 960px;
        padding: 0 40px;
        width: 100%;
        padding: 10px 40px;
    }

    &-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &-userinfo {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: inherit;

            &__avatar {
                margin-bottom: 0px;
                max-width: 50px;
                position: absolute;
                border-radius: 100%;
                background: rgb(241, 241, 241);
            }

            &__username {

                transform: translateX(60px);
            }
        }

        &-bloglinks {
            display: flex;
            align-items: center;
            line-height: 1.25;
            font-size: 16px;
            line-height: 1.25;
            display: flex;
            -webkit-box-align: center;
            align-items: center;

            &__link {
                text-decoration: none;
                color: black;
                text-decoration: none;
                padding: 8px 10px;
                border-radius: 3px;
                background: transparent;

                &:hover,
                &:focus {
                    // color: rgb(64, 36, 212);
                    color: #336699;
                    background: rgb(239, 236, 252);
                }
            }

            &__link+&__link {

                margin-left: 10px;
            }
        }
    }
}